.overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.85);
  z-index: 99999;

  display: flex;
  flex-direction: column;
}

.contador-box {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divImage{
  width: 30%;
  display: flex;
  justify-content: end;
}

.icon{
  filter: invert(1);
  width: 25px;
  height: 25px;
}

.simbolos{
  font-size: 1.2rem;
}


