<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Escáner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Cámara -->
  <div class="camera-container">
    <video #video autoplay playsinline></video>

    <!-- Overlay -->
    <div class="overlay">
      <div #scanBox class="scan-box"></div>
    </div>
  </div>

  <!-- Botón opcional -->
  <ion-button expand="block" (click)="iniciarEscaneo()">
    Escanear carta
  </ion-button>

  <!-- Resultado -->
  <ion-card-title>{{ nombreCarta }}</ion-card-title>

  <!-- Imagen recortada -->
  <img *ngIf="imagen" [src]="imagen" />

</ion-content>

