img{
    width: 18px;
    height: 25px;
    // color:chocolate !important; 
}
ion-tab-button{
    color: white;
}

ion-tab-button.tab-selected ion-icon {
  color: orange; /* color cuando está seleccionado */
}

ion-tab-button:hover ion-icon {
  color: orange; /* color cuando está seleccionado */
}

ion-tab-button:hover ion-label {
  color: white; /* color cuando está seleccionado */
}
