<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="magic" href="/tabs/magic">
      <ion-icon aria-hidden="true" src="assets/icon/svg/mb1.svg"></ion-icon> 
      <ion-label>Jugar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mazos" href="/tabs/mazos">
      <ion-icon aria-hidden="true" src="assets/icon/svg/bcore.svg"></ion-icon>
      <ion-label>Mazos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buscar" href="/tabs/buscar">
      <ion-icon aria-hidden="true" src="assets/icon/svg/jmp.svg"></ion-icon> 
      <ion-label>Buscar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
