img{
  width: 18px;
  height: 25px;
}
ion-tab-button{
    --color-selected: orange;
}

ion-tab-button.tab-selected ion-icon {
  color: orange; 
}

ion-tab-button:hover ion-icon {
  color: orange;
}

ion-tab-button:hover ion-label {
  color: orange;
}

