.divImage{
  width: 30%;
}

.icon{
  filter: invert(1);
  width: 25px;
  height: 25px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.contadores{
  width: 48%;
  box-sizing: border-box;
} 

.contenedor-icono{
  width: 25%;
}

h4{
  font-size: x-small;
}

.simbolos{
  font-size: x-large;
}

.contadorPulsador{
  background-color: aqua;
}