
ion-card-header {
  display: grid;
  align-items: center;
}

ion-card-title {
  order: 1;
  font-size: 1.3em;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

ion-card-subtitle {
  order: 2;
  font-size: 0.9em;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

ion-card-content{
  white-space: pre-line;
  font-size: 1.2em;
  
}

ion-item{
  height: 90px;
}

ion-thumbnail{
  width: 80px;
  height: 80px;
  align-items: start;

}

ion-button{
  position: absolute;
  top: 1%;
  z-index: 1000;
}

ion-button ion-img{
  width: 30px;
  height: 30px;
}

ion-img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

span{
  font-size: 0.8em;
}

.poder-resis{
  font-size: 1.3em;
  color: var(--ion-text-color);
}