ion-card-header {
  display: flex;
  flex-direction: column;
}

ion-card-title {
  order: 1;
}

ion-card-subtitle {
  order: 2;
}

ion-card-content{
  white-space: pre-line;
}

ion-item{
  height: 90px;
}

ion-thumbnail{
  width: 80px;
  height: 80px;
  align-items: start;

}

ion-img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}